.App {
     text-align: center;
   }

.App-header {
  height: 100px;
  padding: 20px;
  color: white;
}

.Calculator {
  text-align: center;
  height: 440px;
  width: 320px;
  background-color: #477890;
  margin: auto;
  border: 20px solid #477890;
}

.Display {
  margin: auto;
  height: 80px;
  width: 100%;
  line-height: 80px;
  border-bottom: 5px solid #477890;
  text-align: right;
  text-indent: 5px;
  font-size: 200%;
  background-color: white;
}

.Display:hover {
  overflow: visible;
}

.Row {
  margin: auto;
  height: 80px;
  width: 90%;
  display: inline;
}

.Digit {
  height: 60px;
  width: 25%;
  display: inline;
  line-height: 60px;
  font-size: 150%;
  background-color: white;
  border-bottom: 1px solid #477890;
  clear: right;
}

.Function {
  background-color: #4C86A8;
}

.Memory {
  background-color: #E0777D;
}

.Operator {
  background-color: #E1DD8F;
}

.Clear {
  background-color: #8E3B46;
}

.Digit:hover {
  background-color: lightgrey;
}

.Function:hover {
  background-color: #2071A1;
}

.Memory:hover {
  background-color: #DE5B62;
}

.Operator:hover {
  background-color: #CFCA76;
}

.Clear:hover {
  background-color: darkred;
}

.Digit:focus {
  outline: none;
}
